nav {
  flex-direction: column;
  display: flex;
  width: 1240px;
  margin: 0 auto;
  user-select: none;

  .flex {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    margin: 5px 0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 125px;

    .logo-img {
      object-fit: cover;
    }
  }

  .menus {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;

    .point {
      text-decoration: underline;
      color: #000 !important;
    }

    p {
      margin: auto;
      height: auto;
      min-width: 100px;
      text-align: center;

      a {
        font-size: 20px;
        font-family: 'BlackHanSans';
        margin: 0 auto;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          transition: 0.25s;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
