nav {
  flex-direction: column;
  display: flex;
  width: 1240px;
  margin: 0 auto;
  user-select: none;

  a {
    margin: 0;
    height: 100%;
  }

  .flex {
    display: flex;
    flex-direction: row;
    // min-height: 100px;
  }

  .logo {
    display: flex;
    flex: 1;

    .logo-img {
      display: flex;
      align-items: center;
      object-fit: contain;
      height: 100%;
    }
  }

  .menus {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;

    .point {
      text-decoration: underline;
      color: #000 !important;
    }

    p {
      margin: auto;
      height: auto;
      min-width: 100px;
      text-align: center;

      a {
        font-size: 20px;
        font-family: 'OpenSans';
        font-weight: bold;
        margin: 0 auto;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          transition: 0.25s;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
