nav {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin: 0 auto;

  .flex {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    margin: 25px 0;
  }

  .logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 125px;

    .logo-img {
      object-fit: cover;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    flex: 2;

    .search-box {
      position: relative;
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 15px;
      overflow: hidden;

      input {
        position: relative;
        width: calc(100% - 50px); // 100% - (button width + padding 5px * 2)
        padding: 10px 40px 10px 10px;
        border: none;
        background-color: transparent;
        font-size: 14px;
        outline: none;

        &::placeholder {
          font-size: 14px;
          font-family: 'Open Sans';
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        border: none;
        background-color: #f5f5f5;
        cursor: pointer;
        outline: none;
      }

      svg {
        font-size: 20px;
        color: #666;
      }
    }
  }

  .menus {
    padding: 0 10px;
    flex: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .icons {
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 25px;
      }
    }
  }

  .navigation-bar {
    width: 100%;
    padding: 0 5px;
    ul {
      border-top: 2px solid #e8e8e8;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      li {
        padding: 8px;
        font-weight: 600;
        cursor: pointer;
        position: relative;

        &:hover {
          transition: 0.25s;
          background-color: #80cbc4;
          color: #fff;
        }

        .sub-navigation {
          left: 0;
          border: 1px solid #000;
          padding: 8px;
          top: 40px;
          position: absolute;
          z-index: 2;
          background-color: white;

          p {
            color: black;
          }
        }
      }
    }
  }
}
