footer {
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  max-width: 800px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}

.company-name {
  font-weight: bold;
  color: #d6d6d6;
  font-size: 24px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 3px solid #d8d8d8;
}

section {
  .flex {
    display: flex;
  }

  p {
    text-align: left;
    font-size: 12px;
    color: #909090;
  }

  .title {
    min-width: 70px;
    width: auto;
    margin-right: 15px;
    color: #747474;
  }
}
