.header {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  font-weight: bold;

  .header-title,
  .header-paging {
    display: flex;
    align-items: end;
  }

  .header-title {
    font-size: 36px;
    color: #000;
  }

  .header-paging {
    margin-left: auto;
    font-size: 20px;
  }
}

.search {
  margin: 32px 0;
  display: flex;
  flex-direction: row;

  input {
    flex: 4;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 16px;

    &:focus {
      outline: none;
    }
  }

  button {
    flex: 1;
    background-color: #80cbc4;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
  }
}
